{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-4">
		<h1>private member space</h1>
		<div class="row">
			<div class="col-md-3">
				{% include 'account/_menu.html.twig' %}
			</div>
			<div class="col-md-9">
				<h5 class="text-warning">my latest orders</h5>
				{% if orders|length == 0 %}
					<div class="alert alert-info">
						You don't have any order yet
					</div>
				{% endif %}
				<table class="table">
					<thead>
						<tr>
							<th scope="col">N</th>
							<th scope="col">Date</th>
							<th scope="col">Status</th>
							<th scope="col">Total T.T.C</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
							<tr>
								<th>{{order.id}}</th>
								<td>{{order.createdAt|date('d/m/Y')}}</td>
								<td>{{include('admin/state.html.twig',{field:{'value': order.state}})}}</td>
								<td><a href="{{path('app_account_order',{'id_order': order.id})}}">View</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
