{% extends "base.html.twig" %}

{% block body %}
	<div class="container my-5">
		<h1>Page not found</h1>
		<p>this page is not found.
			<a href="{{path('app_home')}}">return to home</a>
		</p>
	</div>
{% endblock %}
